html {
	font-size: 62.5%;
}

body {
	background: $color-white;
	color: $color-black;
	font-family: $font-default;
    font-size: 1.3em;
    line-height: 1.6;
    font-weight: 350;
	-webkit-font-smoothing: antialiased;
}

canvas {
	display: block;
}

h1,
.h1,
h1 a {
	color: $color-black;
	font-family: $font-h1;
	font-size: 2.7rem;
	line-height: 1;
	margin: 0;
}

h2,
.h2 {
	color: $color-pink;
	display: block;
	font-family: $font-headings;
	font-size: 2rem;
	letter-spacing: 0.4rem;
	line-height: 1;
	text-transform: uppercase;
}

h3,
.h3 {
	color: $color-purple;
	font-family: $font-headings;
	font-size: 1.6rem;
	margin: 1.7rem 0;
}

h4,
.h4 {
	margin: 0 1.5rem;
}

p {
	margin: 0 0 2rem 0;
	text-align: justify;
}

p:last-of-type {
	// margin-bottom: 0;
}

p + h2 {
	margin-top: 3rem;
}

a {
	color: $color-black;
	text-decoration: none;
	font-weight: 600;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul + p,
ul + div {
	margin: 2rem 0;
}

ol {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	margin: 0;
}

.project aside li,
.project aside li {
	margin-bottom: 2rem;
}

hr {
	background: $color-pink;
	border: 0;
	display: block;
	height: 1px;
	margin: 3rem 0;

	@media (min-width: $breakpoint-medium) {
		margin: 4.5rem 0;
	}
}

abbr[title] {
	border-bottom: 1px dotted $color-purple;
	text-decoration: none;
}

code {
	background: $color-white;
	border: 1px solid $color-pink;
	border-radius: 3px;
	font-family: $font-default;
	font-size: 1.2rem;
	padding: 0.1rem 0.4rem;

	var {
		font-style: italic;
	}
}

dl {
	margin: 0 0 3rem;

	dt,
	dd {
		font-family: $font-default;
	}

	dd {
		font-weight: 300;
	}
}

.responsive-table {
	margin-bottom: 3rem;

	@media (max-width: $breakpoint-xsmall) {
		display: block;
		overflow-x: scroll;
		max-width: $breakpoint-xsmall;

		th,
		td {
			min-width: 10rem;
		}
	}
}

table {
	border-collapse: collapse;
	width: 100%;

	tbody > tr:nth-child(odd) > td,
	tbody > tr:nth-child(odd) > th {
		background: $color-white-sand;
	}

	th,
	td {
		font-family: $font-default;
		font-weight: 300;
		text-align: left;
		padding: 0.5rem 1rem;
	}
	th {
		font-weight: 600;
	}
}

.table-wrapper {
	overflow-x: scroll;
	font-size: 0.8em;
	line-height: 1;
}

blockquote {
	border-left: 0.6rem solid $color-purple;
	padding-left: 2rem;
	margin: 0 0 3rem;

	p {
		font-style: italic;
	}

	@media (min-width: $breakpoint-medium) {
		padding-left: 3rem;
	}
}

video {
	margin: 2rem 0;
}

.videowrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
	margin: 2rem 0;
}

.videowrapper iframe,
.videowrapper video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

.row-2 p,
.row-2--divs {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 2rem;

	img,
	div {
		width: 100%;
		&:not(:last-of-type) {
			margin-bottom: 2rem;
		}
	}

	@media (min-width: $breakpoint-medium) {
		flex-flow: row nowrap;
		img,
		div {
			width: 49%;
		}
	}
}

.row-2--video {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin-bottom: 2rem;

	video,
	iframe {
		width: 49% !important;
	}
}

.row-3--video {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin-bottom: 2rem;

	video,
	iframe {
		width: 32% !important;
	}
}

.row-4--video {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin-bottom: 2rem;

	video,
	iframe {
		width: 24% !important;
	}
}

video {
	width: 100% !important;
	height: auto !important;
}

.row-3 p {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 2rem;

	img {
		width: 32%;
	}
}

.row-4 p {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 2rem;

	img {
		width: 23.5%;
	}
}

aside .videowrapper {
	margin-bottom: 2rem;
}

summary div,
summary div h2,
summary div h3{
	display: inline;
}

summary div {
	h2, .h2 {
  font-family: "Pixelstitch",monospace;
  font-size: 2rem;
  letter-spacing: initial;
  line-height: initial;
  text-transform: uppercase;
}}