.project {
	ul {
		list-style-type: none;
	}

	a:hover,
	a:active {
		text-decoration: underline;
	}
}

.container {
	display: block;
	// max-width: 60em;
	padding: 0 3rem;
	@include clearfix;
}
.project .container-assignment {
	margin: 0 auto;

	.container-content {
		max-width: 100%;
		li {
			margin-left: 3rem;
		}
	}

	max-width: 80em;
	display: flex;
	flex-flow: row-reverse nowrap;
	justify-content: flex-end;
	.section-nav {
		display: none;
		list-style-type: none;
		flex: none;
	}

	@media (min-width: $breakpoint-medium) {
		.section-nav {
			display: initial;
			width: 20rem;
			position: -webkit-sticky;
			position: sticky;
			top: 2rem;
			align-self: flex-start;
			padding-left: 6rem;
			margin: 0 0 0 5rem;
			border-style: dashed solid;
			padding: 2rem;
			border-width: 2px;
			overflow-y: auto;
			overflow-x: wrap;
			max-height: 70vh;
			border-color: $color-pink;
			ul,
			li .toc-h3,
			li .toc-h4,
			li .toc-h5,
			li .toc-h6 {
				list-style-type: none;
				margin-left: 1rem;
				a {
					font-weight: 300;
				}
			}

			.toc-h2 a {
				font-weight: 600;
			}
		}
		.container-content {
			width: 80rem;
		}
	}
}

.back {
	float:right;
}

.header {
	padding: 3rem 0;
}

.logo {
	float: left;
	font-size: 1.8rem;
	font-weight: 600;
	margin: 0;
	line-height: 1;
}

.nav {
	float: right;

	a {
		@extend .logo;
	}
}

.content {
	padding: 0;
	margin-bottom: 10rem;
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;

	h1 {
		font-size: 2rem;
	}

	@media (min-width: $breakpoint-medium) {
		padding: 4rem 0 0;
		margin-bottom: 23.42rem;
	}
}

.intro,
.projects {
	padding: 0 0 6rem;
}

.intro {
	@media (min-width: $breakpoint-medium) {
		p {
			font-size: 2rem;
			max-width: 66.66666%;
		}
	}
}

.projects-list.overview {
	.h2 {
		font-size: 1rem;
		letter-spacing: 0.2rem;
	}
}

.projects-list {
	@media (min-width: $breakpoint-small) {
		margin-left: -1.5rem;
		margin-right: -1.5rem;
		@include clearfix;
		display: flex;
		flex-flow: row wrap;

		li {
			width: 50%;
		}

		a {
			padding: 0 1.5rem;
		}
	}

	@media (min-width: $breakpoint-medium) {
		li {
			width: 25%;
		}
	}

	li {
		margin-bottom: 3rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	a {
		display: block;

		&:hover {
			.img-wrapper {
				&:before {
					opacity: 1;
				}
				&:after {
					opacity: 0.45;
				}
			}
		}
	}

	.img-wrapper {
		position: relative;

		&:after {
			background: rgba(255, 176, 255, 0.4);
			content: "";
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			opacity: 0;
			-webkit-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;
			z-index: 1;
		}
	}

	img {
		width: 100%;
	}

	span {
		margin: 1rem 0 0.5rem;
	}
}

.project {
	left: 0;
	position: relative;
	top: 0;

	@media (min-width: $breakpoint-medium) {
		margin-top: -4rem;

		.article-wrapper {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}

	article {
		margin-bottom: 1rem;

		@media (min-width: $breakpoint-medium) {
			float: right;
			right: 0;
			width: 35%;
			right: 5%;
		}
	}

	aside {
		//margin-left: -3rem;
		//margin-right: -3rem;

		ul {
			columns: 2;
			-webkit-columns: 2;
			-moz-columns: 2;
		}

		@media (min-width: $breakpoint-small) {
			@include clearfix;
		}

		@media (min-width: $breakpoint-medium) {
			float: left;
			width: 60%;

			@media (min-width: $breakpoint-medium) {
				ul {
					columns: 2;
					-webkit-columns: 2;
					-moz-columns: 2;
				}
			}
		}
	}

	ul li video {
		margin: 0;
	}

	video {
		display: block;
	}

	.project-meta {
		margin: 3rem 0 0;

		@media (min-width: $breakpoint-medium) {
			margin: 5rem 0 0;
			max-width: 70%;
		}
	}

	.h2 {
		margin: 3rem 0 0.5rem;

		&:first-of-type {
			margin-top: 0;
		}
	}

	h1 {
		padding-bottom: 2rem;
		a:hover,
		a:active {
			text-decoration: underline;
		}
	}

	li {
		margin-bottom: 0rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	img {
		width: 100%;
	}
}

.project-navigation {
	background: $color-white;
	padding: 10rem 0;

	a {
		color: $color-pink;
		display: inline-block;

		&:hover {
			h2:after {
				visibility: visible;
				-webkit-transform: scaleX(1);
				transform: scaleX(1);
			}

			&.prev {
				span {
					left: 7px;
				}
			}

			span {
				&:after {
					left: 7px;
				}

				&:before {
					left: -7px;
				}
			}
		}

		&:nth-of-type(1),
		&:nth-of-type(2) {
			display: table;
			margin: 0 auto;
			text-align: center;

			@media (min-width: $breakpoint-xsmall) {
				display: inline-block;
				margin: 0;
				text-align: left;
			}
		}

		&:nth-of-type(1) {
			@media (min-width: $breakpoint-xsmall) {
				float: left;
			}
		}

		&:nth-of-type(2) {
			margin-top: 3rem;

			@media (min-width: $breakpoint-xsmall) {
				float: right;
				margin-top: 0;
			}
		}

		&.next {
			span {
				&:after {
					content: "\02192";
				}
			}
		}

		&.prev {
			span {
				position: relative;
				left: 0;
				-webkit-transition: all 0.3s ease-in-out 0s;
				transition: all 0.3s ease-in-out 0s;

				&:before {
					content: "\02190";
				}
			}
		}
	}

	span {
		&:after,
		&:before {
			position: relative;
			left: 0;
			-webkit-transition: all 0.3s ease-in-out 0s;
			transition: all 0.3s ease-in-out 0s;
		}
	}

	h2 {
		display: inline-block;
		font-size: 1.8rem;
		position: relative;

		&:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 1px;
			bottom: -4px;
			left: 0;
			background-color: $color-white;
			visibility: hidden;
			-webkit-transform: scaleX(0);
			transform: scaleX(0);
			-webkit-transition: all 0.3s ease-in-out 0s;
			transition: all 0.3s ease-in-out 0s;
		}
	}
}

.footer {
	background: $color-white;
	bottom: 0;
	left: 0;
	padding: 5rem 0;
	right: 0;
	z-index: -1;
}

.contact,
.follow {
	@media (min-width: $breakpoint-medium) {
		float: left;
		margin-bottom: 0;
		width: 33.33333%;
	}
}

.contact,
.follow {
	margin-bottom: 3rem;
}

// Overview pages

.overview {
	ul {
		columns: 2;
		-webkit-columns: 2;
		-moz-columns: 2;
	}

	@media (min-width: $breakpoint-medium) {
		ul {
			columns: 2;
			-webkit-columns: 2;
			-moz-columns: 2;
		}
	}
}

// About
aside {
	margin-bottom: 4rem;
}

.article {
	margin-bottom: 1rem;

	@media (min-width: $breakpoint-medium) {
		float: right;
		right: 0;
		width: 35%;
		right: 5%;
	}
}

body {
	background-color: white;
	background-repeat: repeat;
	background-size: 400px;
}

.project .task-list {
	list-style-type: none;

	.task-list-item-checkbox {
		margin-right: 1rem;
	}
}

// Blog

.blog .blog-container {
	display: block;
	max-width: 40em;
	padding: 0 3rem;
	margin: 0 auto;
}

.blog {
	ul {
		list-style-type: circle;
	}

	li {
		margin-left: 3rem;
	}
}

.blog-overview {
	@media (min-width: $breakpoint-large) {
		.blog-container {
			max-width: 100%;
			display: flex;
			flex-flow: row nowrap;

			li {
				margin: 0 1em 0 0;
			}
		}
	}
}

.container-blog {
	margin: 0 auto;

	.container-content {
		max-width: 100%;
		li {
			margin-left: 3rem;
		}
	}

	max-width: 80em;
	display: flex;
	flex-flow: row-reverse nowrap;
	justify-content: flex-end;
	.section-nav {
		display: none;
		list-style-type: none;
		flex: none;
	}

	@media (min-width: $breakpoint-medium) {
		.section-nav {
			display: initial;
			width: 20rem;
			position: -webkit-sticky;
			position: sticky;
			top: 2rem;
			align-self: flex-start;
			padding-left: 6rem;
			margin: 0 0 0 5rem;
			border-style: dashed solid;
			padding: 2rem;
			border-width: 2px;
			overflow-y: auto;
			overflow-x: wrap;
			max-height: 70vh;
			border-color: $color-pink;
			li {
				margin-left: 0;
			}
			ul,
			li .toc-h3,
			li .toc-h4,
			li .toc-h5,
			li .toc-h6 {
				list-style-type: none;
				margin-left: 1rem;
				a {
					font-weight: 300;
				}
			}

			.toc-h2 a {
				font-weight: 600;
			}


		}
		.container-content {
			width: 80rem;
		}
	}
}

.click-zoom input[type=checkbox] {
	display: none;
  }
  
  .click-zoom img,
  .click-zoom video {
	transition: transform 0.25s ease;
	cursor: zoom-in;
  }
  
  .click-zoom input[type=checkbox]:checked~img,
  .click-zoom input[type=checkbox]:checked~video {

	transform: scale(2);
	cursor: zoom-out;
	z-index: 1;
  }

.introduction {
	margin: 0 0 2rem;
}

.sensor-spinster {
	.content {
		max-width: 1280px;
		margin: 0 auto;
	  }
}