/* Fonts
 ****************************************************************/

 $font-default: 'Cascadia Code', Helvetica, Arial, serif;
 $font-h1: 'Pixelstitch', 'Cuprum', sans-serif;
 $font-headings: "Cascadia Code", monospace;
 
 /* Colors
  ****************************************************************/
 
 $color-white: #fff;
 $color-black: #000;
 $color-pink: #bf93c6;
 $color-salmon: #e08e8e;
 $color-purple: #330354;
 $color-white-sand: #f6f6f6;
 
 /* Breakpoint
  ****************************************************************/
 
 $breakpoint-xsmall: 400px;
 $breakpoint-small: 550px;
 $breakpoint-medium: 750px;
 $breakpoint-large: 1000px;
 $breakpoint-xlarge: 1200px;